In [1]:

import pandas as pd
path_to_file1 = "4cb82c2383ad.csv"
path_to_file2 = "4cb82c20117b.csv"

data_file1 = pd.read_csv(path_to_file1)
print(data_file1.head())

data_file2 = pd.read_csv(path_to_file2)
print(data_file2.head())

             serverTime             phoneTime  deviceId  lat  lon  acc  speed  \
0  2018-02-09T15:08:19Z  2018-02-09T15:03:10Z  c83212d3  0.0  0.0  0.0    0.0
1  2018-02-11T07:13:39Z  2018-02-11T07:13:01Z  0576CE63  0.0  0.0  0.0    0.0
2  2018-02-11T08:53:51Z  2018-02-11T08:47:31Z  637517bc  0.0  0.0  0.0    0.0
3  2018-02-11T19:40:40Z  2018-02-11T19:40:07Z  ee16db3d  0.0  0.0  0.0    0.0
4  2018-02-18T18:08:42Z  2018-02-18T18:08:03Z  db9de86f  0.0  0.0  0.0    0.0

  ts
0  0
1  0
2  0
3  0
4  0
             serverTime             phoneTime  deviceId  lat  lon  acc  speed  \
0  2018-02-07T17:27:10Z  2018-02-07T17:26:29Z  A6BD7A39  0.0  0.0  0.0    0.0
1  2018-02-07T17:39:13Z  2018-02-07T06:02:03Z  CA6F664B  0.0  0.0  0.0    0.0
2  2018-02-07T18:02:02Z  2018-02-07T18:01:29Z  A6BD7A39  0.0  0.0  0.0    0.0
3  2018-02-07T18:11:57Z  2018-02-07T18:11:23Z  DDA55D5D  0.0  0.0  0.0    0.0
4  2018-02-07T18:27:10Z  2018-02-07T18:26:29Z  A6BD7A39  0.0  0.0  0.0    0.0

  ts
0  0
1  0
2  0
3  0
4  0

In [2]:
data_file1.head()

,serverTime,phoneTime,deviceId,lat,lon,acc,speed,ts
0,2018-02-09T15:08:19Z,2018-02-09T15:03:10Z,c83212d3,0.0,0.0,0.0,0.0,0
1,2018-02-11T07:13:39Z,2018-02-11T07:13:01Z,0576CE63,0.0,0.0,0.0,0.0,0
2,2018-02-11T08:53:51Z,2018-02-11T08:47:31Z,637517bc,0.0,0.0,0.0,0.0,0
3,2018-02-11T19:40:40Z,2018-02-11T19:40:07Z,ee16db3d,0.0,0.0,0.0,0.0,0
4,2018-02-18T18:08:42Z,2018-02-18T18:08:03Z,db9de86f,0.0,0.0,0.0,0.0,0

In [3]:
data_file2.head()

,serverTime,phoneTime,deviceId,lat,lon,acc,speed,ts
0,2018-02-07T17:27:10Z,2018-02-07T17:26:29Z,A6BD7A39,0.0,0.0,0.0,0.0,0
1,2018-02-07T17:39:13Z,2018-02-07T06:02:03Z,CA6F664B,0.0,0.0,0.0,0.0,0
2,2018-02-07T18:02:02Z,2018-02-07T18:01:29Z,A6BD7A39,0.0,0.0,0.0,0.0,0
3,2018-02-07T18:11:57Z,2018-02-07T18:11:23Z,DDA55D5D,0.0,0.0,0.0,0.0,0
4,2018-02-07T18:27:10Z,2018-02-07T18:26:29Z,A6BD7A39,0.0,0.0,0.0,0.0,0

In [4]:
data_file2.dtypes

serverTime     object
phoneTime      object
deviceId       object
lat           float64
lon           float64
acc           float64
speed         float64
ts             object
dtype: object